## Basic stock time series call from Yahoo Finance Library

In [10]:
# step 1: pip install yfinance

In [11]:
# import Yahoo Finance Library for time series data
import yfinance as yf

# import libraries for data manipulation
import pandas as pd
import numpy as np

In [12]:
# map ticker as object
aapl = yf.Ticker("AAPL")
aapl

yfinance.Ticker object <AAPL>

In [14]:
# specify time series start / end dates in "yyyy-mm-dd" format
aapl_df = aapl.history(start="2014-09-22", end="2019-09-22")

# display bookended of the time series
# NOTE: Yahoo historical price data is adjusted for splits and dividends, so the price series will not match 'aapl.csv' file
# https://help.yahoo.com/kb/adjusted-close-sln28256.html 
display(aapl_df.head())
display(aapl_df.tail())

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-22,22.942156,23.018780,22.667211,22.775385,211153600,0.0,0
2014-09-23,22.671719,23.199074,22.658198,23.131464,253608800,0.0,0
2014-09-24,23.023292,23.178792,22.806940,22.930891,240687200,0.0,0
2014-09-25,22.651440,22.696512,22.022671,22.056477,400368000,0.0,0
2014-09-26,22.205214,22.705524,22.175917,22.705524,249482000,0.0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-09-16,53.475246,54.064697,53.433494,54.008205,84632400,0.0,0
2019-09-17,54.022937,54.234156,53.816627,54.204681,73274800,0.0,0
2019-09-18,54.293105,54.732738,53.895229,54.713089,101360000,0.0,0
2019-09-19,54.526428,54.956234,54.123638,54.268547,88242400,0.0,0
2019-09-20,54.371698,54.661508,53.411387,53.475243,221652400,0.0,0

In [15]:
pwd

'C:\\Users\\16177\\Desktop'

In [16]:
cd FinTech

C:\Users\16177\Desktop\FinTech